
@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-Regular.eot');
    src: url('/fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Metropolis-Regular.ttf') format('truetype'),
        url('/fonts/Metropolis-Regular.woff') format('woff'),
        url('/fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-Black';
    src: url('/fonts/Metropolis-Black.eot');
    src: url('/fonts/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Metropolis-Black.ttf') format('truetype'),
        url('/fonts/Metropolis-Black.woff') format('woff'),
        url('/fonts/Metropolis-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




