@import "../../variables";

.ResetPasswordDialog {
  height: fit-content;
  width: 100vw;
  max-height: none;

  .ModalDialog-primary {
    padding: 10px;

    .ResetPasswordDialog-info {
      text-align: center;
      background-color: $sign-in-error-background;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    .ResetPasswordDialog-emailInput {
      display: flex;
      flex-direction: column;
      width: 100%;

      .EmailInputWrapper {
        padding: 5px;
        border-radius: 5px;
        background-color: $white;
        margin-right: 0;
        margin-bottom: 20px;

        .Input {
          border-radius: 3px;
          outline: none;
          border: none;
          line-height: 25px;
          font-size: 24px;
          font-family: $font-family-metropolis;
          margin:-25px 0 0 40px;
          display: block;
        }

        i {
          color: $gray;
          margin: 0 0 -25px 10px;
        }
      }

      .ResetMyPasswordBtn {
        background-color: $signature-color;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        padding-left: 40px;
        padding-right: 40px;
        width: fit-content;
        margin: auto;
      }
    }

    .DontWantToResetPassword {
      margin-top: 50px;
      font-size: 20px;
      text-align: center;
      color: $gray;
      opacity: .5;
      letter-spacing: 1.2px;

      a {
        color: $gray;
      }
    }
  }

  @media (min-width: 1024px) {
    width: 820px;
    left: calc(100vw - 850px);

    .ModalDialog-primary {
      padding: 100px 100px 50px;

      .ResetPasswordDialog-info {
        padding: 20px 60px;
      }

      .ResetPasswordDialog-emailInput {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        width: auto;
        text-align: left;

        .EmailInputWrapper {
          margin-right: 10px;
          margin-bottom: 0;

          .Input {
            width: 75%;
            display:block;
            margin-right: 20px;
            padding: 5px;
          }
        }

        .ResetMyPasswordBtn {
          width: auto;
        }
      }
    }
  }
}
